#calculator{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#centerCalculator{
    box-shadow: 0px 0px 30px 2px crimson;
    background-color: rgba(41, 41, 41, 0.507);
    height: 480px;
    width: 510px;
    transition: 1s;
}

#centerCalculator:hover{
    box-shadow: 0px 0px 30px 6px crimson;
}

.container{
    justify-self: center;
    letter-spacing: 0.2rem;
    text-align: right;
    color: whitesmoke;
    font-weight: bold;
    border-bottom: 2px crimson solid;
    width: 510px;
    height: 80px;
    background-color: rgba(41, 41, 41, 0.507);
}

footer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: transparent;
    text-shadow: 0 0 8px rgb(255, 255, 255);
    font-size: 20px;
    position: absolute;
    width:100%;
    bottom: 0;
    text-align: center;
    transition: 1s;
}

footer:hover{
    text-shadow: 0 0 0px rgb(255, 255, 255);
    font-size: 25px;
}

#display{
    overflow: hidden;
    width: 510px;
    height: 30px;
    font-size: 30px;
}

#result{
    overflow: hidden;
    color: gold;
    font-size: 50px;
}

#buttons{
    justify-content: center;
    width: 500px;
    margin-top: 10px;
    display: flex;
}

.col button{
    flex-grow: 1;
    font-size: 30px;
    font-weight: bold;
    color: crimson;
    width: 80px;
    height: 80px;
    margin: 4px 7px;
    background-color: rgba(231, 231, 231, 0.616);
    border: 0;
    transition: 450ms;
}

.col button:focus{
    font-size: 35px;
    color: rgb(255, 0, 51);
    box-shadow: 0px 0px 5px 4px rgba(255, 0, 0, 0.753);
    width: 85px;
    height: 85px;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body{
    height: 100%;
    overflow: hidden;
}

html{
    background: url('../Images/background.jpg') center;
    background-size: auto;
    height: 100%;
}

#op, .backspace, .clr{
    background-color: rgba(255, 218, 9, 0.507) !important;
    color: aliceblue !important;
}