#calculator{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#display{
    color: whitesmoke;
    letter-spacing: 0.2rem;
    border-color: crimson;
    font-weight: bold;
    font-size: 30px;
    direction: rtl;
    width: 500px;
    height: 50px;
    background-color: rgba(41, 41, 41, 0.507);
}

#buttons{
    margin-top: 10px;
    display: flex;
}

.col button{
    font-size: 30px;
    font-weight: bold;
    color: crimson;
    width: 80px;
    height: 80px;
    margin: 4px 7px;
    background-color: rgba(231, 231, 231, 0.616);
    border: 0;
    transition: 450ms;
}

.col button:focus{
    font-size: 35px;
    color: rgb(255, 0, 51);
    box-shadow: 0px 0px 5px 4px rgba(255, 0, 0, 0.753);
    width: 85px;
    height: 85px;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body{
    height: 100%;
    overflow: hidden;
}

html{
    background: url('../Images/background.jpg') center;
    background-size: auto;
    height: 100%;
}